<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Movie System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</head>
</html>
<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Genres</th>
    <th>Probability</th>
  </tr>
  <tr>
    <td>{{ df_name[0] }}</td>
    <td>{{ df_year[0] }}</td>
    <td>{{ df_genres[0] }}</td>
    <td>{{ df_prob[0] }}</td>
  </tr>
  <tr>
    <td>{{ df_name[1] }}</td>
    <td>{{ df_year[1] }}</td>
    <td>{{ df_genres[1] }}</td>
    <td>{{ df_prob[1] }}</td>
  </tr>
  <tr>
    <td>{{ df_name[2] }}</td>
    <td>{{ df_year[2] }}</td>
    <td>{{ df_genres[2] }}</td>
    <td>{{ df_prob[2] }}</td>
  </tr>
</table>